.DS_Store
*.mov
Facial_Rigging_01.mp4
wetransfer_andile-mashiane-3-pdf_2026-09-02_1355/Showreel_Final.mp4
wetransfer_andile-mashiane-3-pdf_2026-09-02_1355/TBR_Final.mp4
wetransfer_andile-mashiane-3-pdf_2026-09-02_1355/